.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.selectors {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  20% { transform: scale(1.2); }
  40% { transform: scale(1); }
  60% { transform: scale(1.2); }
  80% { transform: scale(1); }
  100% { transform: scale(1); }
}

.heartbeat {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #007bff; /* Change to your desired color */
  animation: heartbeat 1.5s infinite;
}

/* Dashboard.css */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  position: relative; /* Allows positioning adjustments */
}

.ant-spin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-spin-dot {
  border-radius: 50%; /* Ensures the spinner is circular */
  border-top-color: #318CE7; /* Blue color for the spinner */
  border-right-color: #318CE7; /* Blue color for the spinner */
  border-bottom-color: #318CE7; /* Blue color for the spinner */
  border-left-color: #318CE7; /* Blue color for the spinner */
}

.ant-spin-dot-item {
  border-radius: 50%; /* Ensures each dot is circular */
}

/* Adjust the height of the spinner container */
.ant-spin-dot {
  font-size: 48px; /* Adjust the size as needed */
}

.charts-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.main-chart, .side-chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-chart {
  height: 400px;
}

.side-chart {
  height: 400px;
}

.line-chart {
  height: 800px;
}

.line-chart {
  display: felx;
  width: 100%;
  padding: 0;
  margin-bottom: 16px;
}