/* ForgotPassword.css */
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot-password-form {
    width: 300px;
  }
  
  .forgot-password-button {
    width: 100%;
  }
  
  .email-input {
    border: 1px solid #4e9ad0;
  }
  
  .green-button {
    background-color: #1591ea;
    border-color: #1591ea;
    color: white;
    font-size: 16px;
    border-radius: 5rem;
  }
  
  .green-button:hover, .green-button:focus {
    background-color: #619dc8;
    border-color: #4688b6;
    color: white;
  }

  .forgot-password-heading {
    margin-bottom: 20px;
    color: grey;
  }

  .forgot-password-form {
    color: grey;
  }

  .reset-submit-button {
  background-color: #1591ea;
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-submit-button:hover,
.reset-login-button:hover {
  background-color: #0b65a6;
}

.reset-submit-button:disabled,
.reset-login-button:disabled {
  background-color: lightgrey;
  cursor: not-allowed;
}

.reset-login-button {
    background-color: #1591ea;
    width: 50%;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5rem;
}